* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  letter-spacing: 0.7px;
  background-color: #ffffff;
  color: #262724;
}

h1 {
  font-size: 30px;
  line-height: 1.17;
  letter-spacing: 1px;
  margin: 20px 0 50px;
  text-align: center;
}
@media screen and (max-width: 1023px) {
  h1 {
    font-size: 20px;
    margin-bottom: 30px;
  }
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

::-webkit-scrollbar {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #424242;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #98c93c;
}

/* header */
.header {
  /* top_stripe */
  /* top_menu */
  /* header__wrap */
  /* mobile-head */
}
.header .top_stripe {
  background-color: #000000;
}
.header .top_stripe img {
  width: 100%;
}
@media screen and (max-width: 1023px) {
  .header .top_stripe .top_stripe__img_destop {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .header .top_stripe .top_stripe__img_mobile {
    display: none;
  }
}
.header .top-menu {
  background-color: #98c93c;
  height: 25px;
}
.header .top-menu .nav-link {
  padding: 1px 1rem;
}
.header .top-menu .top-menu__links li {
  margin-right: 70px;
  font-size: 14px;
  height: 25px;
}
.header .top-menu .top-menu__links li:hover {
  background-color: #b8e06e;
}
.header .top-menu .top-menu__links a:hover {
  color: #262724;
}
.header .header__wrap {
  background-color: #262724;
  padding: 10px 10px 0;
  position: relative;
}
.header .header__wrap .header__logo img {
  width: 150px;
}
.header .header__wrap a {
  text-decoration: none;
}
.header .header__wrap a:hover {
  color: #ffffff;
}
.header .header__wrap .phone {
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.7px;
  color: #ffffff;
}
.header .header__wrap .phone .icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.header .header__wrap .phone .icon img {
  width: 19px;
}
.header .header__wrap .btn__cart {
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1.5px;
  background-color: #f6851f;
  border: none;
  width: 117px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  padding: 0 15px;
  text-transform: uppercase;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #ffffff;
}
.header .header__wrap .btn__cart:hover {
  cursor: pointer;
  background-color: #f0903a;
}
.header .header__wrap .header__content nav {
  margin-top: 10px;
  color: #ffffff;
}
.header .header__wrap .header__content .search__head {
  position: relative;
  width: 70%;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background-color: #424242;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 4px 15px 4px 33px;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.6px;
  outline: none;
  color: #ffffff;
  background-size: 16px;
  transition: 0.25s;
}
.header .header__wrap .header__content .menu__item {
  height: 50px;
  line-height: 50px;
  font-size: 13px;
  letter-spacing: 0.7px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.header .header__wrap .header__content .menu__item:hover {
  color: #98c93c;
  background-color: #ffffff;
}
.header .header__wrap .header__content .menu__item:not(:first-child):before {
  content: "";
  position: absolute;
  height: 30px;
  width: 1px;
  background-color: #71736e;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.header .header__wrap .header__content .main_item_red {
  background-color: #ff0000;
}
.header .mobile-head {
  background-color: #262724;
  color: #ffffff;
  padding-top: 13px;
}
.header .mobile-head .menu_btn {
  display: inline-block;
  width: 35px;
  height: 50px;
  position: relative;
}
.header .mobile-head .menu_btn span {
  position: absolute;
  top: 10px;
  width: 20px;
  height: 2px;
  background-color: #ffffff;
}
.header .mobile-head .menu_btn span::before, .header .mobile-head .menu_btn span::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #ffffff;
}
.header .mobile-head .menu_btn span::before {
  margin-top: -5px;
}
.header .mobile-head .menu_btn span::after {
  margin-top: 5px;
}
.header .mobile-head img {
  height: 45px;
  margin-left: 10px;
}
.header .mobile-head .icon__cart {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-left: 10px;
  position: relative;
}

/* main */
.main {
  /* main_slider */
  /* brand_slider */
  /* recent_products */
  /* banners-block */
  /* hot_price */
}
@media screen and (min-width: 1140px) {
  .main .main_slider {
    width: 90%;
    margin: auto;
  }
}
.main .brand_slider {
  background-color: #ffffff;
  padding-bottom: 45px;
}
@media screen and (max-width: 1023px) {
  .main .brand_slider {
    padding: 10px 0 25px;
  }
}
.main .brand_slider .banners-block__slider {
  overflow-x: auto;
  width: calc(100% - 50px);
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .main .brand_slider .banners-block__slider {
    width: 100%;
  }
}
.main .brand_slider .banners-block__slider .mCSB_container {
  width: 1130px;
  margin: 0 auto;
  margin-bottom: 7px;
  display: flex;
}
.main .brand_slider .banners-block__slider .mCSB_container a {
  width: 66px;
  height: 55px;
  padding: 0;
  margin: 0 15px;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
}
.main .brand_slider .banners-block__slider .mCSB_container a img {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s;
}
.main .brand_slider .banners-block__slider .mCSB_container a img:hover {
  opacity: 0.8;
}
.main .recent_products {
  background-color: #f5f7f7;
}
.main .recent_products .recent_prod_wrapper {
  max-width: 1140px;
  margin: 0 auto;
  overflow-x: auto;
}
.main .recent_products .recent_prod_wrapper .mCSB_container {
  width: 1140px;
  height: 100%;
  display: flex;
}
.main .recent_products .recent_prod_wrapper .mCSB_container .recent_prod_item {
  width: 164px;
  padding: 10px;
  background: #ffffff;
  display: inline-block;
  margin: 0 10px;
}
.main .recent_products .recent_prod_wrapper .mCSB_container .recent_prod_item .recent_prod_title,
.main .recent_products .recent_prod_wrapper .mCSB_container .recent_prod_item .recent_prod_price {
  font-size: 15px;
  line-height: 1.43;
  letter-spacing: 0.6px;
  font-weight: bold;
}
.main .recent_products .recent_prod_wrapper .mCSB_container .recent_prod_item .recent_prod_title {
  height: 3em;
  overflow: hidden;
  color: #98c93c;
}
.main .recent_products .recent_prod_wrapper .mCSB_container .recent_prod_item .recent_prod_price {
  color: #262724;
}
.main .recent_products .recent_prod_wrapper .mCSB_container .recent_prod_item .recent_prod_image {
  margin: 12px 0px;
}
.main .recent_products .recent_prod_wrapper .mCSB_container .recent_prod_item .recent_prod_image a > img {
  width: 100%;
  height: 100%;
}
.main .recent_products .recent_prod_wrapper .mCSB_container .recent_prod_item .more_info {
  font-size: 14px;
}
.main .recent_products .recent_prod_wrapper .mCSB_container .recent_prod_item .more_info button {
  background-color: #98c93c;
  color: #ffffff;
  font-weight: bold;
}
.main .recent_products .recent_prod_wrapper .mCSB_container .recent_prod_item .more_info button:hover {
  background-color: #b8e06e;
}
.main .banners-block {
  background-color: #ffffff;
  padding-bottom: 60px;
}
.main .banners-block .banners-block__slider {
  display: flex;
  justify-content: center;
}
.main .banners-block .banners-block__slider .banners-block__item {
  width: 265px;
  height: 220px;
  position: relative;
  padding: 50px 25px 40px;
}
.main .banners-block .banners-block__slider .banners-block__item:only-child {
  background-size: cover;
  background-repeat: no-repeat;
}
.main .banners-block .banners-block__slider .banners-block__item:nth-child(1) {
  margin-right: 15px;
  background-image: url("https://ringoo.ua/wp-content/uploads/2019/04/Site_265h220_24.04.2019.png");
}
.main .banners-block .banners-block__slider .banners-block__item:nth-child(2) {
  margin-left: 15px;
  background-image: url("https://ringoo.ua/wp-content/uploads/2019/10/GglAdwords_KOSS_ALL_265h220_17.10.2019_v2.png");
}
.main .banners-block .banners-block__slider .banners-block__item button {
  position: absolute;
  bottom: 30px;
  background-color: #722b6f;
  border-color: #722b6f;
  color: #ffffff;
  left: 50%;
  transform: translate(-50%);
  border-radius: 100px;
  font-size: 11.5px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 6px 20px;
  width: 61%;
}
.main .banners-block .banners-block__slider .banners-block__item button:hover {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #262724;
}
.main .hot_price {
  background-color: #e8eded;
}
.main .hot_price .products-container {
  margin: auto;
  width: 1140px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
  .main .hot_price .products-container {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .main .hot_price .products-container {
    flex-direction: column;
  }
}
.main .hot_price .products-container .products__item {
  width: 360px;
  height: 570px;
  background-color: #fff;
  margin-bottom: 30px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
}
@media screen and (max-width: 768px) {
  .main .hot_price .products-container .products__item {
    width: 100%;
  }
}
.main .hot_price .products-container .products__item .products__title {
  overflow: hidden;
  width: 100%;
  height: 35px;
  color: #7db030;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
  line-height: 1.35;
  font-size: 25px;
}
.main .hot_price .products-container .products__item .products__title a {
  width: 100%;
  overflow: hidden;
  text-decoration: none;
}
.main .hot_price .products-container .products__item .products__title a:hover {
  color: #7db030;
  text-decoration: underline;
}
.main .hot_price .products-container .products__item .products__price {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: bold;
  color: #262724;
  font-size: 25px;
}
.main .hot_price .products-container .products__item .products__image {
  margin: auto;
}
.main .hot_price .products-container .products__item .products__image img {
  max-width: 320px;
  max-height: 320px;
}
.main .hot_price .products-container .products__item:hover .products__image {
  transform: scale(1.1);
}
.main .hot_price .products-container .products__item .products__colors {
  margin: 15px 0;
}
.main .hot_price .products-container .products__item .products__colors .products__color {
  width: 20px;
  height: 20px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 100px;
  border-radius: 100px;
  display: inline-block;
  margin: 10px;
  position: relative;
  cursor: pointer;
}
.main .hot_price .products-container .products__item .products__colors .products__color:before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: -6px;
  left: -6px;
  border: 2px solid #98c93c;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.main .hot_price .products-container .products__item .products__colors .products__color.active:before, .main .hot_price .products-container .products__item .products__colors .products__color:hover:before {
  opacity: 1;
}
.main .hot_price .products-container .products__item .more_info {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1023px) {
  .main .hot_price .products-container .products__item .more_info {
    justify-content: center;
  }
}
.main .hot_price .products-container .products__item .more_info .products__review {
  width: 170px;
  height: 40px;
  margin: 6px;
  color: #98c93c;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.7px;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.main .hot_price .products-container .products__item .more_info .products__review:hover {
  background-color: #b8e06e;
}
@media screen and (max-width: 1023px) {
  .main .hot_price .products-container .products__item .more_info .products__review {
    display: none;
  }
}
.main .hot_price .products-container .products__item .more_info .products__link_more {
  width: 170px;
  height: 40px;
  background-color: #98c93c;
  line-height: 40px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
  color: #ffffff;
}
.main .hot_price .products-container .products__item .more_info .products__link_more:hover {
  background-color: #b8e06e;
}

/* footer */
.footer a {
  text-decoration: none;
}
.footer a:hover {
  color: #98c93c;
}
.footer .footer__newsletter {
  margin-bottom: -6px;
}
.footer .breadcrumbs {
  background-color: #424242;
  color: #ffffff;
  font-size: 11px;
  padding: 3px 0;
}
.footer .footer__content {
  background-color: #262724;
  color: #ffffff;
}
.footer .footer__content .footer__column {
  width: 100%;
}
@media screen and (max-width: 1023px) {
  .footer .footer__content .footer__column {
    padding-top: 25px;
  }
}
.footer .footer__content .footer__column .footer__link {
  display: table;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.footer .footer__content .title {
  margin: 1.67em 0;
  color: #98c93c;
}
@media screen and (max-width: 1023px) {
  .footer .footer__content .footer__info {
    padding-top: 25px;
    text-align: right;
  }
}
.footer .footer__content .footer__info .footer_small_phone:hover {
  color: #ffffff;
}
.footer .footer__content .footer__info .footer__phone:hover {
  color: #ffffff;
}
@media screen and (max-width: 1023px) {
  .footer .footer__content .footer__info .footer__phone {
    font-size: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .footer .footer__content .footer__info .footer__phone {
    font-size: 26px;
  }
}
.footer .footer__content .footer__info .footer__phone .icon {
  width: 26px;
  display: inline-block;
}
.footer .footer__content .footer__info p {
  color: #71736e;
}
@media screen and (max-width: 1023px) {
  .footer .footer__content .footer__info p {
    font-size: 12px;
  }
}
.footer .footer__content .footer__info p .footer_small_phone {
  font-weight: bold;
  color: #ffffff;
}
.footer .footer__content .footer__info .social__footer {
  margin-top: 15px;
}
@media screen and (max-width: 1023px) {
  .footer .footer__content .footer__info .social__footer {
    text-align: left;
  }
}
.footer .footer__content .footer__info .social__footer .social__link {
  width: 36px;
  height: 36px;
  margin-right: 11px;
  background-color: #ffffff;
  display: inline-block;
  border-radius: 100px;
  text-align: center;
  font-size: 22px;
  color: #262724;
}
.footer .footer__content .footer__info .social__footer .social__link:hover {
  color: #ffffff;
  background-color: #98c93c;
}
.footer .footer__content .footer__info .social__footer .social__link i {
  margin-top: 6px;
  margin-left: 2px;
}
.footer .footer__content .footer__info .social__footer .payment_icons_desktop {
  width: 94px;
  display: inline-block;
}
.footer .footer__content .footer__info .social__footer .payment_icons_desktop img {
  width: 100%;
}
.footer .copyright {
  background-color: #424242;
  color: #ffffff;
  height: 25px;
  line-height: 25px;
  text-align: center;
  background-color: #1b1c19;
  font-size: 12px;
  font-weight: 500;
}

/*# sourceMappingURL=app.css.map */
