/* global */

body {
	font-size: 16px;
	line-height: 1.5;
	font-weight: 500;
	letter-spacing: 0.7px;
	background-color: #f5f7f7;
	color: #262724;
}

a {
	text-decoration: none;
	color: inherit;
}

/* top_stripe */
section.top_stripe {
	background-color: #000;
}

section.top_stripe img {
	width: 100%;
}

@media screen and (max-width: 1023px) {
	.top_stripe__img_destop {
		display: none;
	}
}
@media screen and (min-width: 1024px) {
	.top_stripe__img_mobile {
		display: none;
	}
}

/* top_menu */
.top-menu {
	background-color: #98c93c;
	height: 25px;
}

.top-menu .nav-link {
	padding: 1px 1rem;
}
.top-menu .top-menu__links>li {
	margin-right: 70px;
	font-size: 14px;
}

.top-menu .top-menu__links>li:hover {
	background-color: #b8e06e;
}

/* header__wrap */
.header__wrap {
	background-color: #262724;
	padding: 10px 10px 0;
	position: relative;
}

.header__logo img {
	width: 150px;
}

.icon {
	display: inline-block;
}

.phone .icon{
	width: 19px;
	vertical-align: middle;
	margin-right: 15px;
}

.phone {
	font-size: 14px;
	font-weight: bold;
	line-height: 1;
	letter-spacing: 0.7px;
	color: #fff;
}

.btn__cart {
	display: inline-block;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 1.5px;
	background-color: #f6851f;
	border: none;
	height: 35px;
	line-height: 35px;
	padding: 0 15px;
	text-transform: uppercase;.3s;
	-webkit-border-radius: 0;
	border-radius: 0;
	color: #fff;
}

.btn__cart a {
	text-decoration: none;
}

.btn__cart a:hover {
	color: #fff;
}

.header__content nav {
	margin-top: 10px;
	color: #fff;
}

.search__head {
	position: relative;
	width: 70%;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	background-color: #424242;
	border: 1px solid rgba(255, 255, 255, 0.1);
	padding: 4px 15px 4px 33px;
	font-size: 14px;
	line-height: 1.43;
	letter-spacing: 0.6px;
	outline: none;
	color: #fff;
	background-size: 16px;
	transition: .25s;
}

.menu__item {
	height: 50px;
	line-height: 50px;
	font-size: 13px;
	letter-spacing: 0.7px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

.main_item_red {
	background-color: #ff0000;
}

.menu__item:hover {
	color: #98c93c;
	background-color: #fff;
	/*border-color: #484a44;*/
}

.menu__item:not(:first-child):before {
	content: '';
	position: absolute;
	height: 30px;
	width: 1px;
	background-color: #484a44;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.mobile-head {
	background-color: #262724;
	color: #fff;
	padding-top: 13px;
}

.menu_btn {
	display: inline-block;
	width: 35px;
	height: 50px;
	position: relative;
}

.menu_btn span,
.menu_btn span::before,
.menu_btn span::after {
	position: absolute;
	width: 20px;
	height: 2px;
	background-color: #fff;
}

.menu_btn span {
	top: 10px;
}

.menu_btn span::before,
.menu_btn span::after {
	content: '';
}

.menu_btn span::before { margin-top: -5px; }
.menu_btn span::after { margin-top: 5px; }

img[alt="Logo"] {
	height: 45px;
}

.icon__cart {
	width: 50px;
	height: 50px;
	cursor: pointer;
}

/* footer */
.footer__newsletter {
	margin-bottom: -6px;
}

.footer .breadcrumbs {
	background-color: #424242;
	color: #fff;
	font-size: 11px;
	padding: 3px 0;
}

.footer__content {
	background-color: #262724;
}

.copyright {
	background-color: #424242;
	color: #fff;
	height: 25px;
    line-height: 25px;
    text-align: center;
    background-color: #1b1c19;
    font-size: 12px;
    font-weight: 500;
}