@import './utils/vars.scss';
@import './utils/mixins.scss';
@import './utils/reset.scss';

body {
	font-size: $mainFontSize;
	line-height: $mainLineHeight;
	font-weight: $mainFontWeight;
	letter-spacing: $mainLetterSpacing;
	background-color: $default-color;
	color: $mainFontColor;
}

h1 {
    font-size: 30px;
    line-height: 1.17;
    letter-spacing: 1px;
    margin: 20px 0 50px;
    text-align: center;
    @media screen and (max-width: $smDesktopWidth) {
        font-size: 20px;
        margin-bottom: 30px;
    }
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: $default-color;
}

::-webkit-scrollbar {
    background-color: $default-color;
}

::-webkit-scrollbar-thumb {
    background-color: $neutral-regular;
    &:hover {
        background-color: $success-color;
    }
}

/* header */
.header {
    /* top_stripe */
    .top_stripe {
        background-color: #000000;

        img {
            width: 100%;
        }

        @media screen and (max-width: $smDesktopWidth) {
            .top_stripe__img_destop {
                display: none;
            }
        }

        @media screen and (min-width: $desktopWidth) {
            .top_stripe__img_mobile {
                display: none;
            }
        }
    }
    /* top_menu */
    .top-menu {
        // vars
        $topMenuHeight : 25px;

        background-color: $success-color;
        height: $topMenuHeight;

        .nav-link {
            padding: 1px 1rem;
        }

        .top-menu__links {
            li {
                margin-right: 70px;
                font-size: 14px;
                height: $topMenuHeight;

                &:hover {
                    background-color: $light-success-color;
                }
            }

            a {
                &:hover {
                    color: $mainFontColor;
                }
            }
        }
    }
    /* header__wrap */
    .header__wrap {
        background-color: $neutral-primary;
        padding: 10px 10px 0;
        position: relative;

        .header__logo {
            img { width: 150px; }
        }

        a {
            text-decoration: none;
            &:hover {
                color: $default-color;
            }
        }
        
        .phone {
            font-size: 14px;
            font-weight: bold;
            line-height: 1;
            letter-spacing: 0.7px;
            color: $default-color;

            .icon {
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;

                img {
                    width: 19px;
                }
            }
        }

        .btn__cart {
            display: inline-block;
            font-size: 13px;
            font-weight: 700;
            letter-spacing: 1.5px;
            background-color: $warning-color;
            border: none;
            @include size(117px, 35px);
            text-align: center;
            line-height: 35px;
            padding: 0 15px;
            text-transform: uppercase;
            -webkit-border-radius: 0;
            border-radius: 0;
            color: $default-color;
            &:hover {
                cursor: pointer;
                background-color: #f0903a;
            }
        }

        .header__content {
            nav {
                margin-top: 10px;
                color: $default-color;
            }

            .search__head {
                position: relative;
                width: 70%;
                -webkit-border-radius: 50px;
                border-radius: 50px;
                background-color: $neutral-regular;
                border: 1px solid rgba(255, 255, 255, 0.1);
                padding: 4px 15px 4px 33px;
                font-size: 14px;
                line-height: 1.43;
                letter-spacing: 0.6px;
                outline: none;
                color: $default-color;
                background-size: 16px;
                transition: .25s;
            }

            .menu__item {
                height: 50px;
                line-height: 50px;
                font-size: 13px;
                letter-spacing: 0.7px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1;

                &:hover {
                    color: $success-color;
                    background-color: $default-color;
                }

                &:not(:first-child):before {
                    content: '';
                    position: absolute;
                    height: 30px;
                    width: 1px;
                    background-color: $neutral-secondary;
                    left: 0;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
            }

            .main_item_red {
                background-color: $danger-color;
            }
        }
    }
        
    /* mobile-head */
    .mobile-head {
        background-color: $neutral-primary;
        color: $default-color;
        padding-top: 13px;

        .menu_btn {
            display: inline-block;
            @include size(35px, 50px);
            position: relative;

            span {
                // vars
                $menuBtnWidth : 20px;
                $menuBtnHeight : 2px;

                position: absolute;
                top: 10px;
                @include size($menuBtnWidth, $menuBtnHeight);
                background-color: $default-color;

                &::before, &::after {
                    content: '';
                    position: absolute;
                    @include size($menuBtnWidth, $menuBtnHeight);
                    background-color: $default-color;
                }
                &::before {
                    margin-top: -5px;
                }
                &::after {
                    margin-top: 5px;
                }
            }
        }

        img {
            height: 45px;
            margin-left: 10px;
        }

        .icon__cart {
            @include size(50px);
            cursor: pointer;
            margin-left: 10px;
            position: relative;
        }
    }
}

/* main */
.main {
    // vars
    $containerWidth: 1140px;
    /* main_slider */
    .main_slider {
        @media screen and (min-width: $xlDesktopWidth) {
            width: 90%;
            margin: auto;
        }
    }
    /* brand_slider */
    .brand_slider {
        background-color: $default-color;
        padding-bottom: 45px;
        @media screen and (max-width: $smDesktopWidth) {
            padding: 10px 0 25px;
        }

        .banners-block__slider {
            overflow-x: auto;
            width: calc(100% - 50px);
            margin: 0 auto;
            @media screen and (max-width: $desktopWidth) {
                width: 100%;
            }

            .mCSB_container {
                width: 1130px;
                margin: 0 auto;
                margin-bottom: 7px;
                display: flex;
                a {
                    @include size(66px, 55px);
                    padding: 0;
                    margin: 0 15px;
                    display: inline-block;
                    background-size: cover;
                    background-repeat: no-repeat;
                    img {
                        @include size(100%);
                        opacity: 0;
                        transition: all 0.3s;
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
    /* recent_products */
    .recent_products {
        background-color: $neutral-light;

        .recent_prod_wrapper {
            max-width: $containerWidth;
            margin: 0 auto;
            overflow-x: auto;

            .mCSB_container {
                @include size($containerWidth,100%);
                display: flex;
                
                .recent_prod_item {
                    width: 164px;
                    padding: 10px;
                    background: $default-color;
                    display: inline-block;
                    margin: 0 10px;

                    .recent_prod_title,
                    .recent_prod_price {
                        font-size: 15px;
                        line-height: 1.43;
                        letter-spacing: 0.6px;
                        font-weight: bold;
                    }

                    .recent_prod_title {
                        height: 3em;
                        overflow: hidden;
                        color: $success-color;
                    }

                    .recent_prod_price {
                        color: $neutral-primary;
                    }

                    .recent_prod_image {
                        margin: 12px 0px;
                        a>img {
                            @include size(100%);
                        }
                    }

                    .more_info {
                        font-size: 14px;

                        button {
                            background-color: $success-color;
                            color: $default-color;
                            font-weight: bold;

                            &:hover {
                                background-color: $light-success-color;
                            }
                        }
                    }
                }
            }
        }
    }
    /* banners-block */
    .banners-block {
        background-color: $default-color;
        padding-bottom: 60px;

        .banners-block__slider {
            display: flex;
            justify-content: center;

            .banners-block__item {
                @include size(265px, 220px);
                position: relative;
                padding: 50px 25px 40px;
                
                &:only-child {
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                &:nth-child(1) {
                    margin-right: 15px;
                    background-image: url("https://ringoo.ua/wp-content/uploads/2019/04/Site_265h220_24.04.2019.png");
                }
                &:nth-child(2) {
                    margin-left: 15px;
                    background-image: url("https://ringoo.ua/wp-content/uploads/2019/10/GglAdwords_KOSS_ALL_265h220_17.10.2019_v2.png");
                }

                button {
                    position: absolute;
                    bottom: 30px;
                    background-color: #722b6f;
                    border-color: #722b6f;
                    color: $default-color;
                    left: 50%;
                    transform: translate(-50%);
                    border-radius: 100px;
                    font-size: 11.5px;
                    font-weight: bold;
                    letter-spacing: 1px;
                    padding: 6px 20px;
                    width: 61%;

                    &:hover {
                        background-color: $default-color;
                        border-color: $default-color;
                        color: $neutral-primary;
                    }
                }
            }
        }
    }
    /* hot_price */
    .hot_price {
        background-color: #e8eded;
        
        .products-container {
            width: $containerWidth;
            @media screen and (max-width: $desktopWidth) {
                width: 100%;
            }

            .products__item {
                width: 360px;
                min-height: 580px;
                background-color: #fff;
                margin-bottom: 30px;
                padding: 20px;
                margin-right: 30px;
                position: relative;
                overflow: hidden;
                @media screen and (max-width: $phoneWidth) {
                    width: 100%;
                    margin-right: 0;
                }

                .products__title {
                    overflow: hidden;
                    @include size(100%, 35px);
                    color: #7db030;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-weight: 500;
                    line-height: 1.35;
                    font-size: 25px;
                    a {
                        width: 100%;
                        overflow: hidden;
                        text-decoration: none;
                        &:hover {
                            color: #7db030;
                            text-decoration: underline;
                        }
                    }
                }

                .products__price {
                    display: inline-block;
                    margin-bottom: 20px;
                    font-weight: bold;
                    color: $neutral-primary;
                    font-size: 25px;
                }

                .products__image {
                    margin: auto;
                    img {
                        max-width: 320px;
                        max-height: 320px;
                    }
                }

                .products__colors {
                    .products__color {
                        @include size(20px);
                        border: solid 1px rgba(0, 0, 0, 0.2);
                        -webkit-border-radius: 100px;
                        border-radius: 100px;
                        display: inline-block;
                        margin: 10px;
                        position: relative;
                        cursor: pointer;
                        &:before {
                            content: '';
                            @include size(30px);
                            position: absolute;
                            top: -6px;
                            left: -6px;
                            border: 2px solid #98c93c;
                            -webkit-border-radius: 100px;
                            border-radius: 100px;
                            opacity: 0;
                            -webkit-transition: opacity .3s;
                            -o-transition: opacity .3s;
                            transition: opacity .3s;
                        }
                        &.active:before,
                        &:hover:before {
                            opacity: 1;
                        }
                    }

                }
            }
        }
    }
}

/* footer */
.footer {
    a {
        text-decoration: none;
        &:hover {
            color: $success-color;
        }
    }

    .footer__newsletter {
        margin-bottom: -6px;
    }

    .breadcrumbs {
        background-color: $neutral-regular;
        color: $default-color;
        font-size: 11px;
        padding: 3px 0;
    }

    .footer__content {
        background-color: $neutral-primary;
        color: $default-color;
        
        .footer__column {
            width: 100%;
             @media screen and (max-width: $smDesktopWidth) {
                padding-top: 25px;
            }

            .footer__link {
                display: table;
                font-size: 14px;
                font-weight: 500;
                margin-bottom: 5px;
                -webkit-transition: .1s;
                -o-transition: .1s;
                transition: .1s;
            }
        }
        
        .title {
            margin: 1.67em 0;
            color: $success-color;
        }

        .footer__info {
             @media screen and (max-width: $smDesktopWidth) {
                padding-top: 25px;
                text-align: right;
            }

            .footer_small_phone:hover{
                color: $default-color;
            }

            .footer__phone {
                &:hover {
                    color: $default-color;
                }

                @media screen and (max-width: $smDesktopWidth) {
                    font-size: 20px;
                }
                @media screen and (min-width: $desktopWidth) {
                    font-size: 26px;
                }

                .icon {
                    width: 26px;
                    display: inline-block;
                }
            }

            p {
                color: $neutral-secondary;
                @media screen and (max-width: $smDesktopWidth) {
                    font-size: 12px;
                }

                .footer_small_phone {
                    font-weight: bold;
                    color: $default-color;
                }
            }

            .social__footer {
                margin-top: 15px;
                @media screen and (max-width: $smDesktopWidth) {
                    text-align: left;
                }
                .social__link {
                    @include size(36px);
                    margin-right: 11px;
                    background-color: $default-color;
                    display: inline-block;
                    border-radius: 100px;
                    text-align: center;
                    font-size: 22px;
                    color: #262724;

                    &:hover {
                        color: $default-color;
                        background-color: $success-color;
                    }

                    i {
                        margin-top: 6px;
                        margin-left: 2px;
                    }
                }

                .payment_icons_desktop {
                    width: 94px;
                    display: inline-block;
                    img { width: 100%; }
                }
            }
        }
    }

    .copyright {
        background-color: $neutral-regular;
        color: $default-color;
        height: 25px;
        line-height: 25px;
        text-align: center;
        background-color: $neutral-placeholder;
        font-size: 12px;
        font-weight: 500;
    }
}