// Size
$mainFontColor			: #000000;
$mainFontSize			: 16px;
$mainFontWeight			: 400;
$mainLineHeight			: 1.4;
$mainLetterSpacing		: 0.7px;
$mainFontFamily			: 'Roboto', sans-serif;


$xlDesktopWidth			: 1140px;
$desktopWidth			: 1024px;
$smDesktopWidth			: 1023px;
$tableWidth				: 768px;
$phoneWidth				: 480px;
$smPhoneWidth			: 320px;

// color
$default-color			: #ffffff;
$success-color			: #98c93c;
$light-success-color	: #b8e06e;
$neutral-light			: #e8eded;
$warning-color			: #f6851f;
$danger-color			: #ff0000;
$neutral-primary		: #262724;
$neutral-placeholder	: #1b1c19;
$neutral-secondary		: #71736e;
$neutral-regular		: #424242;
